<p id="notice"><%= notice %></p>

<p>
  <strong>Gallery:</strong>
  <%= @gallery_image.gallery_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @gallery_image.image %>
</p>

<%= link_to 'Edit', edit_gallery_image_path(@gallery_image) %> |
<%= link_to 'Back', gallery_images_path %>
